# Port amin'ny site (http://localhost:PORT)
PORT=3000

# Clé API tsy tsy maintsy (facultatif) hiarovana ny endpoint /api/momo/pay
API_KEY=

# ---------------- Airtel Money ----------------
AIRTEL_CLIENT_ID=
AIRTEL_CLIENT_SECRET=

# ---------------- Orange Money ----------------
ORANGE_CLIENT_ID=
ORANGE_CLIENT_SECRET=
ORANGE_MERCHANT_KEY=

# ---------------- MVola (Telma) ----------------
MVOLA_CONSUMER_KEY=
MVOLA_CONSUMER_SECRET=
MVOLA_PARTNER_NAME=
